
*.lock
AndroidProject/.gradle/7.4/executionHistory/executionHistory.lock
AndroidProject/.gradle/7.4/fileHashes/fileHashes.bin
AndroidProject/.gradle/7.4/fileHashes/fileHashes.lock
AndroidProject/.gradle/buildOutputCleanup/buildOutputCleanup.lock
AndroidProject/.idea/deploymentTargetDropDown.xml
AndroidProject/.idea/workspace.xml
AndroidProject/.gradle/7.4/executionHistory/executionHistory.lock
AndroidProject/.gradle/7.4/fileHashes/fileHashes.bin
AndroidProject/.gradle/7.4/fileHashes/fileHashes.lock
AndroidProject/.gradle/buildOutputCleanup/buildOutputCleanup.lock
AndroidProject/.idea/workspace.xml
AndroidProject/.gradle/7.4/executionHistory/executionHistory.lock
AndroidProject/.gradle/7.4/fileHashes/fileHashes.bin
AndroidProject/.gradle/7.4/fileHashes/fileHashes.lock
AndroidProject/.gradle/buildOutputCleanup/buildOutputCleanup.lock
AndroidProject/.idea/workspace.xml
