home/app/build/
home/app/libs/
home/app/build.gradle
home/app/proguard-rules.pro
home/.gradle/
home/.idea/
home/.idea/workspace.xml
home/gradle/
home/build.gradle
home/gradle.properties
home/gradlew
home/gradlew.bat
home/local.properties
home/settings.gradle

home/.idea/workspace.xml

