dir_to_ignore/home/.gradle
dir_to_ignore/home/app/build
dir_to_ignore/home/app/libs
home/.gradle/7.4/executionHistory/executionHistory.bin
home/.gradle/7.4/executionHistory/executionHistory.lock
home/.gradle/7.4/fileHashes/fileHashes.bin
home/.gradle/7.4/fileHashes/fileHashes.lock
home/.gradle/buildOutputCleanup/buildOutputCleanup.lock
home/app/build/intermediates/apk/debug/app-debug.apk
home/app/build/intermediates/data_binding_layout_info_type_merge/debug/out/activity_main-layout.xml
home/app/build/intermediates/data_binding_layout_info_type_merge/debug/out/cartitem-layout.xml
home/app/build/intermediates/data_binding_layout_info_type_package/debug/out/activity_main-layout.xml
home/app/build/intermediates/data_binding_layout_info_type_package/debug/out/cartitem-layout.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/compile-file-map.properties
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-af/values-af.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-am/values-am.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ar/values-ar.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-as/values-as.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-az/values-az.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-b+es+419/values-b+es+419.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-b+sr+Latn/values-b+sr+Latn.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-be/values-be.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-bg/values-bg.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-bn/values-bn.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-bs/values-bs.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ca/values-ca.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-cs/values-cs.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-da/values-da.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-de/values-de.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-el/values-el.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-en-rAU/values-en-rAU.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-en-rCA/values-en-rCA.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-en-rGB/values-en-rGB.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-en-rIN/values-en-rIN.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-en-rXC/values-en-rXC.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-es-rUS/values-es-rUS.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-es/values-es.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-et/values-et.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-eu/values-eu.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-fa/values-fa.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-fi/values-fi.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-fr-rCA/values-fr-rCA.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-fr/values-fr.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-gl/values-gl.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-gu/values-gu.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-h320dp-port-v13/values-h320dp-port-v13.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-h360dp-land-v13/values-h360dp-land-v13.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-h480dp-land-v13/values-h480dp-land-v13.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-h550dp-port-v13/values-h550dp-port-v13.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-h720dp-v13/values-h720dp-v13.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-hdpi-v4/values-hdpi-v4.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-hi/values-hi.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-hr/values-hr.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-hu/values-hu.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-hy/values-hy.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-in/values-in.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-is/values-is.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-it/values-it.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-iw/values-iw.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ja/values-ja.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ka/values-ka.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-kk/values-kk.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-km/values-km.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-kn/values-kn.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ko/values-ko.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ky/values-ky.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-land/values-land.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-large-v4/values-large-v4.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ldltr-v21/values-ldltr-v21.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ldrtl-v17/values-ldrtl-v17.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-lo/values-lo.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-lt/values-lt.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-lv/values-lv.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-mk/values-mk.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ml/values-ml.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-mn/values-mn.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-mr/values-mr.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ms/values-ms.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-my/values-my.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-nb/values-nb.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ne/values-ne.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-night-v8/values-night-v8.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-nl/values-nl.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-or/values-or.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-pa/values-pa.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-pl/values-pl.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-port/values-port.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-pt-rBR/values-pt-rBR.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-pt-rPT/values-pt-rPT.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-pt/values-pt.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ro/values-ro.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ru/values-ru.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-si/values-si.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sk/values-sk.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sl/values-sl.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-small-v4/values-small-v4.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sq/values-sq.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sr/values-sr.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sv/values-sv.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sw/values-sw.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sw600dp-v13/values-sw600dp-v13.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ta/values-ta.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-te/values-te.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-th/values-th.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-tl/values-tl.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-tr/values-tr.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-uk/values-uk.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ur/values-ur.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-uz/values-uz.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v16/values-v16.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v17/values-v17.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v18/values-v18.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v21/values-v21.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v22/values-v22.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v23/values-v23.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v24/values-v24.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v25/values-v25.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v26/values-v26.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v28/values-v28.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v31/values-v31.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-vi/values-vi.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-w320dp-land-v13/values-w320dp-land-v13.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-w360dp-port-v13/values-w360dp-port-v13.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-w480dp-port-v13/values-w480dp-port-v13.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-w600dp-land-v13/values-w600dp-land-v13.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-watch-v20/values-watch-v20.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-watch-v21/values-watch-v21.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-xlarge-v4/values-xlarge-v4.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-zh-rCN/values-zh-rCN.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-zh-rHK/values-zh-rHK.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-zh-rTW/values-zh-rTW.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-zu/values-zu.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values/values.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/stripped.dir/layout/activity_main.xml
home/app/build/intermediates/incremental/debug/mergeDebugResources/stripped.dir/layout/cartitem.xml
home/app/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
home/app/build/intermediates/incremental/debug/packageDebugResources/merged.dir/values-night-v8/values-night-v8.xml
home/app/build/intermediates/incremental/debug/packageDebugResources/merged.dir/values/values.xml
home/app/build/intermediates/incremental/debug/packageDebugResources/stripped.dir/layout/activity_main.xml
home/app/build/intermediates/incremental/debug/packageDebugResources/stripped.dir/layout/cartitem.xml
home/app/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
home/app/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/androidResources
home/app/build/intermediates/merged_res/debug/layout_activity_main.xml.flat
home/app/build/intermediates/merged_res/debug/layout_cartitem.xml.flat
home/app/build/intermediates/packaged_res/debug/layout/activity_main.xml
home/app/build/intermediates/packaged_res/debug/layout/cartitem.xml
home/app/build/intermediates/processed_res/debug/out/resources-debug.ap_
home/app/build/intermediates/project_dex_archive/debug/out/e32949321a33fb319eebfa4a7b9d4718d3ce42093b82d5fb7501e4399a8f7022_0.jar
home/app/build/intermediates/project_dex_archive/debug/out/e32949321a33fb319eebfa4a7b9d4718d3ce42093b82d5fb7501e4399a8f7022_1.jar
home/app/build/intermediates/project_dex_archive/debug/out/e32949321a33fb319eebfa4a7b9d4718d3ce42093b82d5fb7501e4399a8f7022_2.jar
home/app/build/intermediates/project_dex_archive/debug/out/e32949321a33fb319eebfa4a7b9d4718d3ce42093b82d5fb7501e4399a8f7022_3.jar
home/app/build/intermediates/stable_resource_ids_file/debug/stableIds.txt
